mixin content_vars(array)
	.content_vars
-
	let headerTags = ['bitcoin', 'bittorrent', 'irc', 'news', 'privacy', 'programming', 'security',],
	headerLinks = ['team', 'contact'];
	
	let posts = [
		{
			id: '01',
			title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
			name: 'Derek Zimmer',
			date: 'JUL 25, 2018',
			tags: ['Governments', 'Networking', 'Open Source', 'Privacy', 'Security'],
			comments: 0
		},
		{
			id: '02',
			title: 'How to get cheaper flights using a VPN',
			name: 'Jayson',
			date: 'JUL 24, 2018',
			tags: ['Guides'],
			comments: 0
		},
		{
			id: '03',
			title: 'Net Neutrality was repealed, but the fight is far from over',
			name: 'Chris Miller',
			date: 'JUL 22, 2018',
			tags: ['Governments', 'Net Neutrality', 'News'],
			comments: 0
		}	
	];

	let links = [
		{
			title: 'Announcements',
			iconClass: '--bell',
			list: [
				'Upcoming Changes (Live Chat, Less Censorship, More Access)',
				'New Servers (US Washington DC)',
				'New Servers (US Denver)',
				'Open Source: Releasing the PIA iOS Client',
				'Opera Extension is now available'
				]
		},
		{
			title: 'Popular posts',
			iconClass: '--net',
			list: [
				'The Gift of Privacy',
				'UK High Court Censors Many Links To Popcorn Time: Useless, Dangerous Gesture',
				'About the PIA Client Security and VPN Security in General',
				'A Private Net Is Just As Fundamental A Right As Freedom Of Speech',
				'Wiretapping Today Just Doesn’t Mean What The Word Meant In The 1990s, So Don’t Fall For That Lie'
				]
		}
	];

	let tags = [
		{
			tag: 'mass surveillance internet privacy',
			size: '--medium'
		},
		{
			tag: 'china',
			size: '--heavy'
		},
		{
			tag: 'whatsapp police dna',
			size: '--smallest'
		},
		{
			tag: 'nsa',
			size: '--bold'
		},
		{
			tag: 'russia',
			size: '--medium'
		},
		{
			tag: 'gchq',
			size: '--smallest'
		},
		{
			tag: 'internet censorship facial recognition',
			size: '--normal'
		},
		{
			tag: 'isp',
			size: '--medium'
		},
		{
			tag: 'Apple',
			size: '--smallest'
		},
		{
			tag: 'united kingdom',
			size: '--bold'
		},
		{
			tag: 'amazon metadata turkey',
			size: '--smallest'
		},
		{
			tag: 'vpn',
			size: '--bold'
		},
		{
			tag: 'tracking broadband privacy',
			size: '--smallest'
		},
		{
			tag: 'canada',
			size: '--normal'
		},
		{
			tag: 'encryption',
			size: '--medium'
		},
		{
			tag: 'Twitter uk',
			size: '--smallest'
		},
		{
			tag: 'surveillance',
			size: '--heavy'
		},
		{
			tag: 'EU',
			size: '--heavy'
		},
		{
			tag: 'Facebook',
			size: '--heavy'
		},
		{
			tag: 'India',
			size: '--normal'
		},
		{
			tag: 'freedom of expression',
			size: '--smallest'
		},
		{
			tag: 'ajit pai bitcoin',
			size: '--medium'
		},
		{
			tag: 'internet history gdpr microsoft',
			size: '--smallest'
		},
		{
			tag: 'fcc',
			size: '--biggest'
		},
		{
			tag: 'censorship',
			size: '--normal'
		},
		{
			tag: 'germany file sharing',
			size: '--smallest'
		},
		{
			tag: 'privacy',
			size: '--biggest'
		},
		{
			tag: 'copyright',
			size: '--normal'
		},
		{
			tag: 'anonymity internet of things',
			size: '--smallest'
		},
		{
			tag: 'google',
			size: '--heavy'
		},
		{
			tag: 'australia net neutrality',
			size: '--normal'
		}
	];