%transition_all {
	transition: all 0.3s ease;
	will-change: transform;
}

%transition_opacity {
	transition: opacity 0.3s ease;
	will-change: opacity;
}

%transition_background {
	transition: background 0.3s ease;
	will-change: background;
}

%transition_color {
	transition: color 0.3s ease;
}

%transition_color_background {
	transition: color 0.3s ease, background 0.3s ease;
	will-change: background;
}

%transition_transform {
	transition: transform 0.3s ease;
	will-change: transform;
}

%tranisition_fill {
	transition: fill 0.3s ease;
	will-change: fill;
}
